.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  
  .Caixa {
    border: 1px solid black;
    padding: 1px 10px 150px;
    width: 40%;
    margin: 1px;
    display: block; 
  }
  